<ion-view view-title="Account">
  <ion-content>
    <div>
        <div class="list list-inset">
            <label class="item item-input">
                <input ng-model="username" type="text" placeholder="E-mail" />
            </label>
            <label class="item item-input">
                <input ng-model="password" type="password" placeholder="Password" />
            </label>
        </div>
        <div class="padding-left padding-right">
            <div class="button-bar">
                <a class="button" ng-click="login(username, password)">Login</a>
                <a class="button" ng-click="register(username, password)">Register</a>
            </div>
            <div class="button-bar" style="margin-top:10px">
                <a class="button" ng-click="resetPassword(username)">Forgot Password</a>
            </div>
        </div>
    </div>    
    <hr>

  	<div class="" ng-click="loginWithFacebook()">
		<img src="../img/sign-in-facebook.png" style="width:90%; margin-left:5%; margin-top:20px" />
  	</div>
  </ion-content>
</ion-view>